<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../angular.min.js"></script>
   <style type="text/css">
  body{
      background-color: {{color}};
      
  }   
  span{
      font-size: {{sizeoffond}};
  }
</style>
</head>
<body  >
 <input type="text" ng-model="color" name="" placeholder="enter background color"><br>
 <input type="text" ng-model="sizeoffond" placeholder="enter text size"><br>
 
 <span>hello check size</span>



</body>
</html>